<p>income works!</p>

<form [formGroup]="budgetTrackerForm" (ngSubmit)="addBudgetTracker()">
    <label for="name">Enter your name:</label>
    <input type="text" id="name" name="name" formControlName="name"><br><br>
    <button type="submit">Submit</button>
</form>

<form [formGroup]="incomeForm" (ngSubmit)="addIncome()">
    <label for="name">Enter your name:</label>
    <input type="text" id="name" name="name" formControlName="name"><br><br>
  
    <label for="incomeName">Enter your income name:</label>
    <input type="text" id="incomeName" name="incomeName" formControlName="incomeName"><br><br>
  
    <label for="amount">Enter your income amount:</label>
    <input type="number" id="amount" name="amount" formControlName="amount"><br><br>
  
    <label for="payDay">Select your pay day:</label>
    <input type="date" id="payDay" name="payDay" formControlName="payDay"><br><br>
  
    <label for="payRate">Select your pay rate:</label>
    <select id="payRate" name="payRate" formControlName="payRate">
      <option *ngFor="let option of payRateOptions" [value]="option">{{ option }}</option>
    </select><br><br>
  
    <button type="submit">Submit</button>
  </form>
